/*
CSS VARIABLES
*/

// root psuedo class is essentially like the <html> selector, but with a highter specificity
:root {
  --color-primary: #eb2f64;
  --color-primary-light: #ff3366;
  --color-primary-dark: #ba265d;

  --color-grey-light-1: #faf9f9;
  --color-grey-light-2: #f4f2f2;
  --color-grey-light-3: #f0eeee;
  --color-grey-light-4: #ccc;

  --color-grey-dark-1: #333;
  --color-grey-dark-2: #777;
  --color-grey-dark-3: #999;

  --shadow-dark: 0 2rem 6rem rgba(0, 0, 0, 0.3);
  --shadow-light: 0 2rem 5rem rgba(0, 0, 0, 0.1);

  --line: 1px solid var(--color-grey-light-2);
}

/*
SASS VARIABLES
*/

$breakpoint-largest: 75em; // 1200px / 16px = 75
$breakpoint-large: 68.75em; // 1100px / 16px = 68.75
$breakpoint-medium: 56.25em; // 900px / 16px = 56.25
$breakpoint-small: 43.75em; // 700px / 16px = 43.75
$breakpoint-extra-small: 37.5em; // 600px / 16px = 37.5
$breakpoint-smallest: 31.25em; // 500px / 16px = 31.25
